extends root
block content
  header
    .container
      +b(nav).nav
        +e(img).icon(src='/assets/img/book.png')
        +e.title Центр надання адміністративних послуг
  +b.content
    .container
      +e(h2).title Виберіть категорію
      .row
        each category in categories
          +item-block(category.img, category.title, category.url)

