@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body
  background-color #EBEEF6;
  font-family 'Open-Sans' sans-serif

header
  background-color #383E49;

  .nav
    width 100%
    display flex
    justify-content center
    &__title
      text-align center;
      padding 10px
      color #fff
      font-size 34px
    &__icon
      display flex
      height 30px
      align-self center
.content
  &__title
    justify-content center
    padding 30px
    font-size: 34px
    display flex


.category
  background-color #fff
  padding 20px
  margin-bottom 30px
  display flex
  flex-direction column
  border 1px solid #B4B7BE
  border-radius 5px
  text-align center
  color #383e49
  min-height 240px
  &__cover
    padding 15px
    height 130px
  &__title
    height 70px
    display flex
    text-align center
    justify-content center
    align-items center


